<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Добавление товара</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h1>Форма добавления товара</h1>
    <h3>Новый товар</h3>

    <form method="post" th:action="@{/products/add}">
        <div class="form-group col-md-6">
            <label for="titleInput">Наименование товара</label>
            <input class="form-control" name="title" type="text" id="titleInput">
        </div>
        <div class="form-group col-md-6">
            <label for="priceInput">Цена</label>
            <input class="form-control" name="price" type="number" id="priceInput">
        </div>
        <button class="btn btn-primary" type="submit">Добавить товар</button>
    </form>
    <br>

    <a class="btn btn-primary" th:href="@{/products}">Назад</a>
</div>
</body>

</html>